<br><br><br><br>
           <div class="container-fluid mx-auto">
            <h3 align="center" style="color:white">Events List</h3>
</div>
<hr>
        <div class="d-grid gap-3" *ngFor="let li of lis">
        <br><br><br>
            <div class="p-2 bg-light border">
                <h4 class="list-group-item-heading">{{ li.name }}</h4>
                <p class="list-group-item-text">{{ li.description }}</p>
                <a class="list-group-item-text" [href]="li.extlink">{{ li.extlink }}</a>
                <p class="list-group-item-text">{{ li.date }}</p>
            </div>
            <span class="p-2 bg-light border">
                <img 
                     [src] = "li.imagePath"
                     alt="{{ li.name }}" 
                     class="img-fluid"
                     style="width:50%"> 
            </span>
      <div>