<br><br>
           <h4>
  Events
</h4>
<hr>
        <div class="d-grid gap-3" *ngFor="let li of lis">
        <br><br><br>

              
<div class="blog-item">
    <a [href]="li.extlink">
        <div class="icon">
            <img 
                     [src] = "li.imagePath"
                     alt="{{ li.name }}">
        </div>
        <div class="content">
            <div class="title">{{li.name}} <span class="blog-date">{{li.date}}</span></div>
            <div class="rounded"></div>

            <p>
               {{ li.description }}
            </p>
        </div>

    </a>

</div>
</div>

            

