
<body style="background-color: rgb(3, 16, 59);">r><br><br><br><br><br><br><br>
<div class="contact-header">
    <div class="parallax">
       
          <div class="container" id="funFacts">
             <h1
                class="display-3"
                style=" text-align: center ; color: #fff "
                data-aos="fade-up"
                >
                ContactUs
             </h1>
          </div>
       
    </div>
 </div>
 <!-- 
    -->
 <div class="container">
 <div class=" bg-transperent  row justify-content-center shadow">
    <!--Grid column-->
    <div class="col-lg-6 mb-4" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
       <!--Form with header-->
       <div class="card  bg-transperent shadow ">
          <div class="card-body " style="background-color: rgb(1, 14, 56);">
             <!--Header-->
             <div class="container bg-transperent text-center py-2 mb-4" >
                <h4 style="font-weight: bol; color:cornsilk "> Write to us:</h4>
             </div>
             <br>
             <!--Body-->     
             <br><br>  
             <h2 style="color:cornsilk">Mail us anytime at <a href="mailto:tinkererslaboratory@gmail.com">Tinkerer’s Laboratory</a> with any complaints or messages.</h2>
                          <br><br>
             <h2 style="color:cornsilk">Also, Connect with us on LinkedIN, Facebook and Instagram :</h2>
             <div class="align-center">
            <a class="pr-3" href="https://www.linkedin.com/company/tinkerers-lab/" id="linkedin" target="_blank"><i
                class="fab fa-linkedin-in fa-2x"></i></a>
            <a class="pr-3 pl-2" href="https://www.facebook.com/tinkererIITB/" id="facebook" target="_blank"><i
                class="fab fa-facebook-f fa-2x"></i></a>
            <a class="pl-2" href="https://www.instagram.com/tinkererslab.iitb/" id="instagram" target="_blank"><i
                class="fab fa-instagram fa-2x"></i></a>
          </div>
          </div>
       </div>
       <!--Form with header-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-6 address-info mb-4" data-aos="zoom-in">
       <!--Buttons-->
       <!--Header-->
       <div class="container bg-transperent text-center mt-4" >
          <h4 style="font-weight: bol; color:cornsilk"> Reach out to us:</h4>
       </div>
       <br>
       <div class="  py-5 contact-info"  >
          <div class="d-flex justify-content-between">
             <div class="text-center ">
                <i class="fa fa-map-marker " style="color:black;"></i>
                <br>
                <p class="d-flex align-self-center "><a href="#" style="color:cornsilk">  IIT Bombay </a></p>
             </div>
             <div class="text-center ">
                <i class="fa fa-phone"  style="color:black;"></i>
                <br>
                <p class="d-flex align-self-center"><a href="#" style="color:cornsilk">+91 7735944281</a></p>
             </div>
             <div class="text-center ">
                <i class="fa fa-envelope"  style="color:black;"></i>
                <br>
                <p class="d-flex align-self-center"><a href="#" style="color:cornsilk">xyz@gmail.com</a></p>
             </div>
          </div>
          <br>
          <iframe
             id="map"
             frameborder="0"
             style="filter: invert(90%)"
             src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCunBuiI0IXYsQh_JhhFcGJTYub25TM8ls
             &q=Tinkerers+Laboratory+IIT+BOMBAY,Mumbai"
             allowfullscreen
             ></iframe>
       </div>
       <!--Grid column-->
    </div>
 </div>
 </div>
 <br><br><br><br>
</body>