<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TINKERERS' LAB</title>

  <meta name="theme-color" content="#000000" />
  <meta
    name="description"
    content="IIT Bombay TINKERERS  TINKERERS' LAB "
  />

 <!-- library imports -->
 <link
 rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
 integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
 crossorigin="anonymous"
 />

  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />



      





</head>





<nav class="navbar  navbar-expand-md fixed-top shadow pt-2">
  <a class="navbar-brand ml-2" href="/">
    <img src="assets\Images\TL2.png" class="navbar-logo" height="60" width="60" />
  </a>
  <span
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <div class="nav-icon" title="Menu">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </span>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"*ngIf="Check_Technician()" routerLink="technician" routerLinkActive="active-link">
          TECHNICIAN
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">
          HOME
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"routerLink="about" routerLinkActive="active-link">
          ABOUT
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"  [href]="events_href" routerLinkActive="active-link">
          EVENTS
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"  routerLink="machinestatus" routerLinkActive="active-link">
          MACHINE STATUS
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"  routerLink="machinetut" routerLinkActive="active-link">
          MACHINE TUTORIALS
        </a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link button-nav"  *ngIf="logged_in" routerLink="inventory" routerLinkActive="active-link">
          INVENTORY
        </a>
      </li>
     
      
     
      <li class="nav-item mx-3">
        <a class="nav-link button-nav" routerLink="contact" routerLinkActive="active-link">
          CONTACT
        </a>
      </li>
      <a class="dropdown dropdown-toggl" id="dropdown-toggl" *ngIf="logged_in">
        <a class="btn"><i class="fas fa-2x fa-user-circle "></i>&nbsp;<i class="fas fa-caret-down"></i></a>
      </a>
      <a class="pt-2 text-warning mobile-view"  routerLink="../cart">My Cart</a>
      <a class="pt-3 text-success mobile-view" *ngIf="logged_in" routerLink="../approved">Issued Items</a>
      <hr class="rounded mobile-view" *ngIf="logged_in">
      <a routerLink="" *ngIf="logged_in" (click)="logout()" class="mobile-view">Logout</a>
      
        <div *ngIf="logged_in" class="dropdown-men" id="dropdown-men">

          <div class="d-flex flex-column container">
            <a class="pt-3 pb-4 text-primary">{{user_data.first_name}} {{user_data.last_name}}-{{user_data.roll_number}}</a>
            <a class="pt-2 text-warning" routerLink="../cart">My Cart</a>
            <a class="pt-3 text-success" routerLink="../approved">Issued Items</a>
            <hr class="rounded">
            <a class="pt-1 pb-2 text-danger" routerLink="" (click)="logout()">Logout</a></div>
        </div>
    
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>